.main-content{
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
}

.sticky-map-container{
    width: 500px;
    background-color: green;
}

.posts-idx-main-container{
    margin: auto;
}