/* .posts-idx-item{
    width: 500px;
    display: flex;
    justify-content: center;

    margin-left: 40px;
    flex-direction: row;
    padding-bottom: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid coral;


}
.posts-idx-container{
    width: 650px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 53px;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}


.post-pic-container{
    
    border: 2px solid chartreuse;

    width: 325px;
    height: 200px;
    margin-right: 20px;
<<<<<<< HEAD
    
=======
    text-align: left;
>>>>>>> bc187b72999fcc7d8e335a4f3537a37c019d6eb9
}

.post-pic{
    max-width: 325px;
    max-height: 200px;
    border-radius: 10px;
    border: 1px solid grey;
}

.post-info{
    border: 2px solid chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
  
    position: relative;

    left: 90px;
}

.liked-heart{
    color: red;
    cursor: pointer;
    font-size: 26px;
}

.heart{
    cursor: pointer;
    font-size: 26px;
}

.comments{
    width: 260px;
    border-radius: 10px;
    overflow: auto;
    height: 200px;
    border: 2px solid blue;
}

.comments-list{
    padding-right: 20px;
}

.top-container{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.likes-container{
    display: flex;
    border-right: 2px solid rgb(69,175,181);
    padding-right: 20px;
    width: 100px;
}

.like-count{
    padding-left: 10px;
    margin: auto;
}

.post-text{
    width: 100%;
    text-align: left;
    margin: auto;
}

.post-text-container{
    border-right: 2px solid rgb(69,175,181);
    padding: 0px 20px;
    width: 515px;
}

.comment-icon{
    font-size: 26px;
}

.comment-container{
    width: 100%;
    margin: auto;
    display: flex;
    padding-left: 20px;
}

.comment-input{
    margin-right: 10px;
}

.user-comment{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0px; 
}

.comment-owner{
    font-size: 16px;
    font-weight: 700;
}

.comment-body{
    display: flex;
    flex-wrap: wrap;
    width: 95px;
} */

.posts-idx-item{
    /* position: absolute; */
    position: sticky;
    top: 65px;
    border: 2px solid red;
    display: inline;
    display: flex;
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 60vh;
    background-color: #fafafa;
    color: #262626;
    width: 875px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;

}


.post-info {
    border: 2px solid chartreuse;
    width: 330px;
    margin-right: 80px;
}


.post-pic{
    width: 345px;
    border-radius: 10px;
    border: 1px solid grey;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 70px;
    border-bottom: 1px solid rgba(206, 202, 202, 0.945); 
}

.comments {
    display: flex;
    flex-direction: column;
}

.comments-list {
    border: 2px solid blue;
    min-height: 30vh;
}
