.post-form-container{
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.post-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
